git+https://github.com/huggingface/transformers
streamlit
pandas
numpy
matplotlib
imageio
IPython
PIL
ipywidgets
deepface
ultralytics
transformers
tensorflow
keras
bs4
traceback
streamlit_lottie
json
pickle
